  <header>
    <div class="view jarallax" data-jarallax='{"speed": 0.2}' style="background:linear-gradient(rgba(71, 68, 68, 0.397), rgba(73, 70, 70, 0.5)), url('../../assets/research.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
      <div class="mask d-flex justify-content-center align-items-center">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-white text-center">
              <h1 class="h1-reponsive mb-0 pt-md-5 pt-5 wow fadeInDown title" data-wow-delay="0.3s">
                Welcome To Perusal</h1>
                <hr class="hr-light my-4 wow fadeInDown" data-wow-delay="0.4s">
                
    <div class="row form-group">
        <div class="m-auto col-md-8">
            <div class="input-group">

              <span class="input-group-append right">
                <div class="input-group-text bg-white rounded"><i class="fas fa-list-ul pr-2 text-dark"></i>
                  <!-- <li class="nav-item dropdown"> -->
                    <span class="text-dark dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Category</span>
          
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Acion</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="divider dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
          
                <!-- </li> -->
                </div>
              </span>
                <input class="form-control round-search p-4" type="search" id="example-search-input" placeholder="Enter keyword to get started with your research">
                <!-- </div> -->
                <span class="input-group-append">
                  <div class="input-group-text bg-white"><i class="fas fa-search"></i></div>
                </span>
            </div>
        </div>
    </div>

              <hr class="hr-light my-4 wow fadeInDown" data-wow-delay="0.4s">
              <button class="text-white btn start"><a>GET STARTED</a></button>
              <hr class="hr-light my-4 wow fadeInDown" data-wow-delay="0.4s">
              <div class="col-md-12">
                <p class=" m-auto col-md-6">Publish your research to make it recognized to people around the globe
                and build your professional profile</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </header>
  <script>
  new WOW().init();
  </script>