
<div class="container mt-4" id="about">
    <h3 class="text-center text-bold my-4">ABOUT US</h3>
        <div class="row bg-white rounded">
            <div class="col-md-5 float-left pl-5 my-5">
            <p>
            Perusal is a platform developed by a team dedicated
            to provide ways that allows users to share and access
             research papers. We also provide a step by step
            guidance for new researchers to help them publish
            good, reliable and trust worthy research papers.
            </p>
            </div>
            <div class="col-md-7 my-5">
                <img src="../../assets/person.svg" alt="" class="img-fluid w-50 mx-auto img-responsive d-block">
            </div>
        </div>        
</div>