<div class="container mt-5">
  <div class="how-title text-center">
    <h5 class="text-uppercase">How It Works</h5>
    <div class="row how-title-underline w-50">
      <div class="col-md-5 col-sm-12">
        <hr>
      </div>
      <div class="col-md-2 col-sm-12">
        <span class="star">***</span>
      </div>
      <div class="col-md-5 col-sm-12">
        <hr>
      </div>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3">
  <div class="col">
    <div class="card pt-4 pb-1">
      <img
        src="../../assets/img/search.png"
        class="rounded mx-auto d-block w-25"
        alt="Search"
      />
      <div class="card-body">
        <h6 class="card-title text-center">Search for a paper of interest</h6>
        <div class="row">
          <div class="col-2">
            <span class="ml-4 linecolor">1</span>
          </div>
          <div class="col-10">
            <hr>
          </div>
        </div>
        <p class="card-text">
          You are able to access all papers
          based on category of interest to help
          you in your research or work. You can
          preview the content to be sure it’s
          what you’ll need before logging in
          to download.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card pt-4 pb-1">
      <img
        src="../../assets/img/register.png"
        class="rounded mx-auto d-block w-25"
        alt="Register"
      />
      <div class="card-body">
        <h6 class="card-title text-center">Register / Login</h6>
        <div class="row">
          <div class="col-2">
            <span class="ml-4 linecolor">2</span>
          </div>
          <div class="col-10">
            <hr>
          </div>
        </div>
        <p class="card-text">
          It is important for users to register in
          order to upload or download research.
          Registration only takes a few seconds
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card pt-4 pb-1">
      <img
        src="../../assets/img/fileload.png"
        class="rounded mx-auto d-block w-25"
        alt="File upload and download"
      />
      <div class="card-body">
        <h6 class="card-title text-center">Upload or download a research</h6>
        <div class="row">
          <div class="col-2">
            <span class="ml-4 linecolor">3</span>
          </div>
          <div class="col-10">
            <hr>
          </div>
        </div>
        <p class="card-text">
          You can publish the following papers:  Final 
          year Projects, Thesis, Essays,  Dissertations, 
          Seminars, Book Notes,  Lesson Notes, 
          Detailed Academic Articles, Termpapers, 
          Text books, journals etc. More guidance will 
          be provided once as you fill the form that’ll 
          be provided.
        </p>
      </div>
    </div>
  </div>
  </div>
  <hr class="mt-5">
</div>